---
title: Form Mate
url: https://form-mate.dev/
description: A tiny and elegant library to handle forms with React
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title>{{page.title}}</title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://documentation.page/assets/style.css" />

    <link rel="icon" type="image/png" href="{{page.url}}favicon.png" />
    <meta name="description" content="{{page.description}}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{page.url}}" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:image" content="{{page.url}}hero.png" />
    <meta name="twitter:description" content="{{page.description}}" />

    <!-- Facebook & others -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:image" content="{{page.url}}hero.png" />
    <meta property="og:description" content="{{page.description}}" />
  </head>
  <body>
    <main>
      <div class="flex">
        <div class="thirty">
          <aside>
            <div class="scroller">
              <form class="search" autocomplete="off">
                <input name="search" placeholder="Search Documentation" />
                <div class="results"></div>
              </form>
              {{#each menu}} {{#unless this.main}}
              <section>
                <h3>
                  {{#if this.sections}}
                  <button class="more">
                    <img src="https://documentation.page/assets/plus.svg" />
                  </button>
                  {{/if}}
                  <a href="{{this.link}}">{{this.title}}</a>
                </h3>
                <div class="submenu">
                  {{#each this.sections}}
                  <div>
                    <a href="{{to}}">
                      <img
                        src="https://documentation.page/assets/file.svg"
                      /><span>{{label}}</span>
                    </a>
                  </div>
                  {{/each}}
                </div>
              </section>
              {{/unless}} {{/each}}
            </div>
          </aside>
        </div>
        <div class="seventy">
          <article>{{content}}</article>
        </div>
      </div>
    </main>
    <script
      src="https://unpkg.com/prismjs@1.20.0/prism.js"
      charset="utf-8"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/umbrellajs"
      charset="utf-8"
    ></script>
    <script type="text/javascript">
      u("h2").each((title) => {
        const to = "#" + title.id;
        const text = u(title).text();
        u(".submenu").append(`
          <div>
            <a href="${to}">
              <img
                src="https://documentation.page/assets/file.svg"
              /><span>${title}</span>
            </a>
          </div>
        `);
      });
    </script>
    <script src="https://documentation.page/assets/script.js"></script>
  </body>
</html>
